{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Region User Count Chart</title>
    <style>
        .chart-title {
            font-size: 2em;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
    <!-- Include Chart.js from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Load your custom JavaScript file -->
    <script src="{% static 'admin/js/chart.js' %}" defer></script>
</head>
<body>
<div class="container">
    <h1 class="chart-title">{% translate 'Viloyatlar kesimida foydalanuvchilar soni' %}</h1>
    <canvas id="userCountChart"></canvas> <!-- Adjusted width and height -->

    <!-- Pass data to JavaScript via hidden elements -->
    <script id="chart-labels" type="application/json">{{ labels|safe }}</script>
    <script id="chart-data" type="application/json">{{ data|safe }}</script>
    <!-- resources/templates/components/chart.html -->
    <script id="chart-label" type="application/json">{% trans "Foydalanuvchilar soni" %}</script>
</div>
</body>
</html>
