<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLASSCOM.UZ</title>
    <link rel="stylesheet" href="new.css">
    <link rel="icon" type="image/x-icon" href="../static/images/classcom.png">
</head>
<body>
<div class="container">
    <h1 class="fade-in">CLASSCOM.UZ</h1>
    <p class="slide-in">Welcome to classcom.uz admin page.</p>
    <a href="#" class="button">SIGN IN</a>
    <div class="circle">
        <img src="../static/images/classcom.png" alt="Logo" class="logo">
    </div>
</div>
</body>
</html>
