* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 4rem;
    letter-spacing: 4px;
    animation: fadeIn 2s ease-in-out;
}

p {
    font-size: 1.5rem;
    margin: 20px 0;
    animation: slideIn 2s ease-in-out;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    background: #ff4b2b;
    background: linear-gradient(to right, #4190b0, #ff2c2c);
    color: white;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s ease;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    animation: bounce 2.5s infinite;
}

.button:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #ff2c2c, #4190b0);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    top: -100px; /* Position at the top */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    animation: pulse 3s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 80%;
    height: auto;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    50% {
        transform: scale(1.1) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}
