{% extends 'admin/base.html' %}
{% load humanize unfold i18n static %}

{% block title %}{% trans "Statistika" %}{{ block.super }}{% endblock %}

{% block content %}
    {{ block.super }}
    <script src="{% static 'admin/js/dashboard.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('button[data-language]').forEach(button => {
                button.addEventListener('click', function () {
                    const languageCode = this.getAttribute('data-language');
                    fetch("{% url 'change_language' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({language_code: languageCode})
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 'success') {
                                location.reload();
                            } else {
                                alert('Noto\'g\'ri so\'rov');
                            }
                        });
                });
            });
        });
    </script>
    <div x-data="data">
        {% component 'unfold/components/container.html' %}
            <div class="flex justify-end mb-5 gap-x-3">
                <button style="background-color: #4190B0;" class="p-2 rounded shadow font-[500] text-white"
                        data-language="uz">
                    O'zbekcha
                </button>
                <button style="background-color: #FF2C2C;" class="p-2 rounded shadow font-[500] text-white"
                        data-language="ru">
                    Русский
                </button>
            </div>
            <div class="flex justify-end mb-5 gap-x-3"></div>
            {% component 'unfold/components/flex.html' with class='grid grid-cols-1 sm:grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-4' %}
                {% for card in cards %}
                    {% component 'unfold/components/card.html' with class='w-full cursor-pointer' %}
                        <h1 class="font-[400]">{{ card.title }}</h1>
                        <h1 class="mt-3 font-[600] text-[20px]">{{ card.value|intcomma }}</h1>
                    {% endcomponent %}
                {% endfor %}
            {% endcomponent %}
            <div class="grid mt-10 mb-10">
                {% include "components/chart.html" %}
            </div>
        {% endcomponent %}
    </div>
{% endblock %}